* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  width: 144rem;
  margin: 15rem auto;
}

.card {
  margin: 0 auto;
  width: 40rem;
  padding: 3rem;
  border-radius: 2rem;
  background-color: hsl(213, 19%, 18%);
  font-family: "Overpass", sans-serif;
  line-height: 1.5;
}

.icon {
  margin-bottom: 2rem;
  border-radius: 50%;
  background-color: hsl(213, 8%, 21%);
  padding: 1.5rem;
}

.heading {
  color: hsl(0, 0%, 100%);
  font-size: 3rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.5rem;
  color: hsl(217, 12%, 63%);
  margin-bottom: 2rem;
}

.rating-div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.2rem;
  margin-bottom: 2.5rem;
}

.rating-number {
  color: hsl(217, 12%, 63%);
  border-radius: 50%;
  padding: 1.8rem;
  background-color: hsl(213, 8%, 21%);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  line-height: normal;
}

.rating-number:hover {
  cursor: pointer;
  background-color: hsl(25, 97%, 53%);
}

.rating-selected {
  background-color: hsl(217, 12%, 63%);
  color: #ffffff;
}

.btn-submit {
  background-color: hsl(25, 97%, 53%);
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.5em;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  width: 100%;
  line-height: normal;
}

.btn-submit:hover {
  background-color: #ffffff;
  color: hsl(25, 97%, 53%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.thankyou-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thankyou-svg {
  margin-bottom: 3rem;
}

.rating-text {
  font-size: 1.5rem;
  color: hsl(25, 97%, 53%);
  background-color: hsl(213, 8%, 21%);
  padding: 1rem 2rem 1rem 2rem;
  line-height: normal;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.rating-description {
  text-align: center;
}
.hide {
  display: none;
}
