* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  width: 144rem;
  margin: 0 auto;
}

.rating-card {
  margin: 0 auto;
  width: 40rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: hsl(213, 19%, 18%);
}

.heading {
  color: hsl(0, 0%, 100%);
  font-size: 3rem;
}

.description {
  font-size: 1.5rem;
  color: hsl(217, 12%, 63%);
}

.rating-div {
  display: flex;
  justify-content: space-evenly;
}

.rating-number {
  color: hsl(217, 12%, 63%);
}

.btn-submit {
  background-color: hsl(25, 97%, 53%);
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.5em;
  padding: 1.4rem 7.6rem;
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
